<html>

<head>
  <title>{{ page.title }}</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
  crossorigin="anonymous">

  <style>
    .tall {
      height: 80%;
    }
    .stretch {
      min-height: 100%;
    }
    .center-text {
      text-align: center;
    }
    .bottom {
      position: absolute;
      bottom: 25px; 
    }
    .relative {
      position: relative; 
    }
  </style>

</head>

<body>
  <div class="container tall relative">
    <div class="jumbotron stretch">
      <div>
      {{ content }}
      </div>
      <div class="bottom">
      {% include footer.html %}
      </div>
    </div>
  </div>
</body>

</html>

